input {
    height: min(8vw, 75px); /* Scale input size */
    width: min(8vw, 75px);
    font-size: min(4vw, 25px); /* Scale text size */
    text-align: center;
    caret-color: transparent;
    border-radius: 0%;
    border: 1px solid black
    
    
}

input:focus{
    background-color: aliceblue;
}

.sudokuQuadrants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    border: 3px solid black; /* Thick borders between quadrants */
}

#sudokuBoard {
    width: min(75vw, 675px);
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}